@model SistemaSolar.Models.SistemaMeteorologico

@{
    ViewData["Title"] = "SistemaSolar";
}

<h1>SistemaSolar</h1>
<div>
    @using (Html.BeginForm("SistemaSolar", "Home", FormMethod.Post))
    {
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <h1> Sistema Meteorologico </h1>
            <form class="login-form">
                <div class="form-group">
                    @Html.Label("Anios", "Años: ", new { @class = "control-label" })
                    <div class="col-lg-9">
                        @Html.TextBoxFor(m => m.Anios, new { @class = "form-control" })
                    </div>
                </div>

                <div>
                    <input class="btn-primary d-block col-lg-3 form-control" ; type="submit" name="btnSubmit" value="Consultar" />
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>
    }
</div>
