<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceSistemaSolar" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57127/ServiceSistemaSolar.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceSistemaSolar"
                contract="WsSistemaSolar.IServiceSistemaSolar" name="BasicHttpBinding_IServiceSistemaSolar" />
        </client>
    </system.serviceModel>
</configuration>